<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>BenchmarkSerialization</key>
		<dict>
			<key>testPerformanceVerify()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_PersistentHeapAllocations</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10156</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Aug 12, 2019 at 5:31:34 PM</string>
				</dict>
			</dict>
		</dict>
		<key>BenchmarkSerializationFinal</key>
		<dict>
			<key>testPerformanceDeserialize()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>7.409e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Aug 16, 2019 at 3:39:22 PM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
